*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, hsl(28, 71%, 58%) , hsl(0, 100%, 74%));
    padding: 10px;
}
.todo_aap{
    width: 100%;
    max-width: 540px;
    background:white;
    border: black 2px solid;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
}
.todo_aap h2{
    justify-content: center;
    display: flex;
    color: #9a1902;
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.todo_aap h2 i{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
    border-radius: 50%;
}
 button{
    border: 2px solid #ed2914;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945 ;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    margin: 15px;
}
button:hover{
    background-color: #ed2914;
    color: black;
}

 ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px ;
    margin: 15px;
    /* user-select: none; */
    cursor: pointer;
    /* position: relative; */
    align-items: center;
    display: flex;
    gap: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
 ul li::before{
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    /* background-image: url('images/unchecked.png'); */
    background-size: cover;
    background-position: center; 
} 
.ri-checkbox-blank-circle-line{
    padding-right: 5px;

}
ul li.checked .task-text {
  text-decoration: line-through;
  color: #ff5945;
}
ul li.checked{
     /* text-decoration: line-through;  */
    color: #9f9f9f;
}
ul li.checked.ri-checkbox-blank-circle-line{
  /* background-image: url('images/checked.png'); */
  text-decoration: line-through;
  color: #b3b3b3;
}


ul li.checked i {
  color: #ff5945;
}

.task-text {
  transition: 0.3s ease;
} 

.ri-checkbox-blank-circle-line.span {
    text-decoration: line-through;
}

.delete {
  margin-left: auto;
  font-size: 22px;
  /* color: #555; */
  cursor: pointer;
}

.delete:hover {
  color: #ff5945;
} 