body {
    margin: 0;
    height: 100vh;
    width: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    background: #FFEAE3;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 3px solid #ffffff;
    border-width: auto;
    border-radius: 35px;
    margin: 15px;
}
h1{
    color:rgb(0, 0, 0);
    font-style: italic;
    text-decoration: underline;
}
.name{
    color: gray;
    font-style: oblique;

}
 .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 50%;
    margin: 6px;
    box-shadow: #ffffff;
    box-shadow : 
        0 0 0 2px #fff,             
        0 2px 2px 4px rgba(0, 0, 0, 0.15); 
}

.light {
    background-color: #FFEAE3;
    border:  0px solid rgb(255, 254, 254);
    box-shadow: #ffffff;
}

.dark {
    background-color:#FFCBCB;
    border:  0px solid rgb(254, 254, 254);
}