*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.container{
     background-color: rgb(59,57,57);
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    /* grid-template-rows: 100px 100px; */
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(4, 1fr);
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;

}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
     background-color: rgb(129, 86, 186);
    border: 4px solid black;
    border-radius: 4px;
   justify-content: center;
   align-items: center;
   display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size:25px;
    font-style: italic;
}
.items{
    background-color: beige;
    border: 2px solid black;
    color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-style: italic;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(129, 86, 186);
    border: 4px solid black;
    border-radius: 4px;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}

.slidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(70, 176, 142);
    border: 4px solid black;
    border-radius: 4px;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: bisque;
    border: 4px solid black;
    border-radius: 4px;
    background-image: radial-gradient(purple,blue,green);
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}
.content2{
     background-image: radial-gradient(purple,blue,green);
     border: 4px solid black;
     display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}
.content3{
     background-image: linear-gradient(purple,blue,green);
    border: 4px solid black;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}