@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,454&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
body{
    background-color: white;
    height: 100vh;
    text-align: center;
    padding: 0.1rem;
}
.header{
    border: 1px solid black;
}
.header_content{
    max-width: 1280px;
    margin: 0 auto ;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(13, 13, 14);
    text-decoration: none;
   gap: 0.25rem;
}
.logo_icon{
    height: 5.87rem;
    width: 1.938rem;
}
.logo-text{
 font-size: 2rem;
}
.nav{
    display: none;
    gap:  1.5rem;

}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.15s;
}
.nav-link:hover{
    color: rgb(48, 51, 224);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(91, 91, 205);
    color: white;
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:768px)
{
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
display: none;
border: none;
border-radius: 0.375rem;
/* transform: all 0.1s; */
background-color: white;
font-size: 1rem;
font-weight: 600;
padding: 0.5rem 1.1rem ;
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;}
}
.menu-icon{
    height: 1rem;
    width: 1rem;
}
                                                /* hero section */
.main-section{
    max-width: 1280px;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.content-left{
    animation: slideInFromLeft 0.5s ease-out;
    flex-basis: 50%;
    text-align: center;
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    color: rgb(60, 60, 211);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.content-left h1{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(12, 12, 13); 
    margin-bottom: 1rem;
}
.section-title{
    color: rgb(12, 12, 13); 
    font-size: 2.3rem;
    font-weight: 600;
    /* margin-bottom: 1rem;
 */}
.section-description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(4, 68, 159);
    font-size: 1.125rem;
}
.content-left p{
    font-size: 1.125rem;
    color: rgb(80, 85, 92);
    margin-bottom: 2rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button{
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(91, 91, 205);
    color: white;
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;            
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(53, 52, 52);
    color: rgb(255, 255, 255);
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;            
    font-weight: 600;
}
.tour-button:hover{
    background-color: rgb(97, 97, 100);
}
.content-right{
    flex-basis: 50%;
    text-align: right;
}
.section-image{
    align-items: center;
    justify-content: center;
    /* max-width: 100%;
    height: auto; */
}   
.image-container{
    border: none;
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    height: 50vh;
}
.section-image{
    width: 100%;
    height: 100%;

}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
        text-align: left;
    }
    .content-left, .content-right{
        max-width: 50%;
        text-align: left;
        flex-basis: 100%;
    }
    .section-title{
        padding-left:0;
        font-size:2.5rem;
    }
    .section-label{
        font-size: 0.5rem;
        /* padding-left:0; */
    }
    .image-container{
        height: 67vh;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;

    }
    .section-description{
        font-size: 1rem;
        color: rgb(97, 97, 100);
        width: 80%;
    }
    .content-right{
        margin-top: 2rem;
    }
}
                                                /* mini section */
.company-container{
    /* max-width: 1280px;
    margin: 0 auto ; */
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1.8rem 2.5rem;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(220, 219, 219);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 0.625rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(80, 85, 92);
    display: flex;
    gap: 0.5rem;
    height: 3rem;
    width: auto;
    opacity: 0.7;
}
.svg-img{
    height: 1.56rem;
    /* width: auto;
    opacity: 0.7; */
}
.logo-txt{
    font-size: 1.5rem;
    /* display: flex;
    gap: 0.1rem;
    font-weight: 600;
    color: rgb(12, 12, 13);  */
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4 ,1fr);
        /* flex-direction: row; */
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}
                                                /* cards section */
.feature-container{
background-color: lightgrey;
padding: 2.5rem 0 ;
text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: center;
    align-items: center;
    margin-bottom: 3rem; */
}
.main-title{
    font-size: 2.2rem;
    font-weight:  bold;
}
.main-description{
    color: rgb(128, 122, 122);
    font-size: 1rem;
}
.feature-grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    
}
.feature-card{
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 1.6rem;
    gap: 1rem;
    border-radius: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size:1.3rem;

    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    height: 2.25rem;
    background-color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 7rem;
}
.feature-title{
    color: white;
}
.feature-description{
    color: white;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1 ;
}
@media screen and (max-width:768px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
                                              /* Testimonial-Section */
.testimonial-container{
    gap: 2rem;
    padding: 4rem 2rem;
}
.testimonial-content{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.testimonial-main-title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.testimonial-card{
    background-color: #fff;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.testimonial-para{
    font-style: italic;
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
}
.testimonial-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1.2rem;
}
.author-name{
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.3rem;

}
.author-desc{
    font-size: 0.9rem;
    color: #777;
}
                                          /* newsletter-Section */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-box{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.newsletter-box{
    display: flex;
    gap: 3rem;
    background-color: #e6e6e6;
    border-radius: 0.2rem;
    padding: 2rem;
    align-items: center;
}

/* IMAGE */
.newsletter-image{
    flex: 1;
}

.newsletter-image img{
    width: 100%;
    height: 100%;
    /* border-radius: 12px; */
    object-fit: cover;
    border-radius: 1rem;
}

/* CONTENT */
.newsletter-content{
    flex: 1;
}

.newsletter-content h2{
    font-size: 2.5rem;
    color: #4b6cfb;
    margin-bottom: 0.8rem;
    
}

.newsletter-content p{
    color: #666;
    margin-bottom: 1.5rem;
}

/* INPUT + BUTTON */
.newsletter-form{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.newsletter-form input{
    flex: 1;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.newsletter-form button{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #4b6cfb;
    color: white;
    cursor: pointer;
}
.newsletter-form button:hover{
    background-color: #374abe;
    block-size: 2.6rem;
}

.terms{
    font-size: 0.95rem;
    color: #777;
    justify-items: center;
}

.terms a{
    color: #4b6cfb;
    text-decoration: none;
    text-decoration: underline;
}
.terms a:hover{
    color: #374abe;
}
                                     /* footer-section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: #fff;
    padding: 3rem 2rem;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* LEFT SIDE */
.footer-top {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.comp-logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.logo-svg {
    width: 2rem;
    height: 2rem;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.filler-text {
    font-size: 0.95rem;
    color: #777;
}

/* SOCIALS */
.socials {
    display: flex;
    gap: 1rem;
}

.social-icon {
    width: 1.4rem;
    height: 1.4rem;
}

/* RIGHT GRID */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer-grid-heading {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-links-list {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #555;
    display: inline-block;
    margin-bottom: 0.6rem;
}

.footer-link:hover {
    color: #000;
}

/* COPYRIGHT */
.footer-copyright {
    text-align: center;
    font-size: 0.85rem;
    color: #777;
    margin-top: 2rem;
}
@media screen and(max-width:1080px) { 
    footer {
        flex-direction: column;
    align-items: center;}
    .footer-top {
        padding-left: 10rem;
        }
        .footer-grid{
            align-self: center;
            justify-content: space-between;
        }

}
@media screen and (max-width:850px) {
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-top {
        padding-left: 5rem;
        }
}