*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.card{
    background: linear-gradient(135deg,#00feba ,#5b548a);
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    height: 60px;
    padding: 10px 25px;
    font-size: 18px;
    border: 0;
    outline:0;
    background: #ebfffc;
    color: #555;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
}
.search button{ 
    border: 0;
    outline:0;
    background: #ebfffc;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
}
.search button img{
    width: 20px;
}
.info{
    margin: 30px 0;
}
.info h2{
    font-size: 40px;    
    font-weight: 500;
}
.info h3{
    font-size: 20px;
    font-weight: 400;
}
.info p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.info img{
    width: 100px;       
    margin-top: 20px;
}