*{
    padding: 0;
    margin: 0;
}
.container{
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 0.5rem;
    background-color: aquamarine;
    height: 780px;
    width: 1400px;
    border: 4px dashed black;
    border-radius: 5px;
    line-height: 20px;
}
/* header */
.header{
    margin: 15px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(99, 124, 116);
    height: 100px;
    width: 100px;
    border: 4px solid black;
    border-radius: 2px;
    /* grid-template-rows: (1,2); */
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
}
.subtitle{
    margin: 18px;
    padding: 18px;
    background-color: rgb(195, 228, 218);
    height: 500px;
    width: 400px;
    display: block;
    border: 4px solid black;
    border-radius: 2px;
}
.content1{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(68, 79, 76);
    height: 500px;
    width: 400px;
    display: block;
    border: 4px solid black;
    border-radius: 2px;
}
.content2{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(146, 168, 161);
    height: 500px;
    width: 400px;
    display: block;
    border: 4px solid black;
    border-radius: 2px;
}
.content3{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(99, 124, 116);
    height: 500px;
    width: 400px;
    display: block;
    border: 4px solid black;
    border-radius: 2px;
}
.footer{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(83, 97, 93);
    height: 500px;
    width: 400px;
    display: block;
    border: 4px solid black;
    border-radius: 2px;
}