*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background: #dbe5fb;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 10px solid black;
}
.calculator{
    background: #23203c;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    border: 2px solid #161426;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255 , 255 , 255 , 0.1 ) , 5px 5px 15px rgba( 0 , 255 , 255 , 0.1);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    border: 1px solid black;
}
.calculator form input:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}