                                                /* hero section */
.main-section{
    max-width: 1280px;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.content-left{
    animation: slideInFromLeft 0.5s ease-out;
    flex-basis: 50%;
    text-align: center;
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    color: rgb(60, 60, 211);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.content-left h1{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(12, 12, 13); 
    margin-bottom: 1rem;
}
.section-title{
    color: rgb(12, 12, 13); 
    font-size: 2.3rem;
    font-weight: 600;
    /* margin-bottom: 1rem;
 */}
.section-description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(4, 68, 159);
    font-size: 1.125rem;
}
.content-left p{
    font-size: 1.125rem;
    color: rgb(80, 85, 92);
    margin-bottom: 2rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button{
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(91, 91, 205);
    color: white;
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;            
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(53, 52, 52);
    color: rgb(255, 255, 255);
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;            
    font-weight: 600;
}
.tour-button:hover{
    background-color: rgb(97, 97, 100);
}
.content-right{
    flex-basis: 50%;
    text-align: right;
}
.section-image{
    align-items: center;
    justify-content: center;
    /* max-width: 100%;
    height: auto; */
}   
.image-container{
    border: none;
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    height: 50vh;
}
.section-image{
    width: 100%;
    height: 100%;

}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
        text-align: left;
    }
    .content-left, .content-right{
        max-width: 50%;
        text-align: left;
        flex-basis: 100%;
    }
    .section-title{
        padding-left:0;
        font-size:2.5rem;
    }
    .section-label{
        font-size: 0.5rem;
        /* padding-left:0; */
    }
    .image-container{
        height: 67vh;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;

    }
    .section-description{
        font-size: 1rem;
        color: rgb(97, 97, 100);
        width: 80%;
    }
    .content-right{
        margin-top: 2rem;
    }
}
 