*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(darkblue,lightblue);
   
   
}
.app{
    background-color:linear-gradient(#67B2D8,#ABE0F0);
    width:90%;
    max-width: 600px;
    margin: 100px auto 0 ;
    border-radius: 15px;
    padding: 30px;
    border: 2px solid black;
}
.app h1{
    font-weight:25px ;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1.75px solid #0b004a;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px  0 ;
    

}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #001e4d;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    display: none;
    background-color: #298ed6;
    font-weight: 600;
    width: 150px;
    color: #fff;
    border-radius: 4px solid ;
    border: 0;
    padding: 10px;
    margin: 20px  auto 0;
    cursor: pointer;
}
.correct{
    background-color: #9aeabc;

}
.incorrect{
    background-color: #ff9393;
    
}