* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background: url("travel.png") center/cover no-repeat;
    height: 100vh;
    width: 100%;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    z-index: 2;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #F3EFEF;
}



.login {
    display: flex;
    gap: 10px;
}

.login-button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin: 14px;
    margin-left: 20px;
    background-color: #F3EFEF;
}

.signin-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #010101;
    background-color: #F3EFEF;
}



.main {
    position: relative;
    z-index: 2;
    padding: 80px 60px;
}

.main h2 {
    font-size: 64px;
    color: white;
    line-height: 1.2;
}

.main h2 span {
    color: #ffbf00;
}

.discover-button {
    background: black;
    color: #ffbf00;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    margin-top: 20px;
}

.play-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 20px;
}

.main .watch-video {
    font-size: 16px;
    font-weight: bold;
    color: #ffbf00;
    margin: 10px;
}

.side {
    position: absolute;
    right: 40px;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.upperButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.info {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.info button {
    border: none;
    background: transparent;
    font-size: 14px;
}

.info .go {
    background: #ffbf00;
    padding: 12px 20px;
    border-radius: 10px;
}