.feature-container{
background-color: rgb(222, 221, 221);
padding: 2.5rem 0 ;
text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: center;
    align-items: center;
    margin-bottom: 3rem; */
}
.main-title{
    font-size: 2.2rem;
    font-weight: bold;
   
}
.main-description{
    color: rgb(80, 85, 92);
    font-size: 1rem;

}
.feature-grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}