                                                   /* mini section */
.company-container{
    /* max-width: 1280px;
    margin: 0 auto ; */
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1.8rem 2.5rem;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(220, 219, 219);
    margin-top: 2rem;
    margin-bottom: 10rem;
    border: none;
    border-radius: 0.625rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(80, 85, 92);
    display: flex;
    gap: 0.5rem;
    height: 3rem;
    width: auto;
    opacity: 0.7;
}
.svg-img{
    height: 1.56rem;
    /* width: auto;
    opacity: 0.7; */
}
.logo-txt{
    font-size: 1.5rem;
    /* display: flex;
    gap: 0.1rem;
    font-weight: 600;
    color: rgb(12, 12, 13);  */
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4 ,1fr);
        /* flex-direction: row; */
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}