*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    /* margin: 5px; */
    padding-top: 4%;
    padding-left: 10% ;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#B153D7,#FAEB92); 
    color: #484848;

}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600px;
}
.container h1 img{
    width: 60px;
    
}
.container button img{
    width: 25px;
    margin-right: 8px;

}

.container button{
     display:flex; 
    align-items: center;
    background: linear-gradient(#4D2B8C,#85409D);
    color: rgb(10, 10, 10);
    font-size: 16px;
    outline:0 ;
    border: 0;
    border-radius: 40px;
    padding: 8px;
    margin: 30px 0 25px;
    cursor: pointer;
}
 .input-box{
    position: relative;
    width: 700px;
    border: 2px solid#484848 ;
    max-width: 500;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;

 }
 .input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    
 }