* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #0d0d0d;
    color: white;
}

/* Progress Bar */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: linear-gradient(90deg, red, orange);
    z-index: 999;
}

/* Header */
header {
    text-align: center;
    padding: 40px;
}

/* Accordion */
.accordion {
    width: 80%;
    margin: auto;
}

.accordion-item {
    border-bottom: 1px solid #333;
}

.accordion-header {
    width: 100%;
    padding: 15px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #181818;
    padding: 0 15px;
    transition: max-height 0.4s ease;
}

.accordion-item.active .accordion-content {
    max-height: 150px;
    padding: 15px;
}

.spider-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    perspective: 1000px;
    /* creates 3D space */
}

.spider {
    width: 150px;
    transition: transform 0.5s ease;
}

.img {
    height: 800px;
    width: auto;
    border-radius: 25px;
}

/* 3D hover effect */
.spider:hover {
    transform: rotateY(20deg) rotateX(10deg) scale(1.1);
}

/* floating animation */
@keyframes floatSpider {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.spider {
    animation: floatSpider 3s ease-in-out infinite;
}