.footer-container{
    background-color: #fff;
     margin: 0 auto;
     padding:2rem;
     display: flex;
     flex-direction: column ;
     max-width: 1200px;
}
.footer{
margin: 1280px;
padding: 1rem;
text-align: left;

}