body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px;
}

.rooms {
    padding: 20px;
}

.room-card {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.room-card img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.booking {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e8449;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}
