* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.body-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

/* HEADER */
.header-container {
    text-align: center;
    margin-bottom: 2rem;
}

.header-title {
    font-size: 2rem;
    font-style: italic;
}

.header-description {
    color: #555;
    align-items: center;
    line-height: 5px;
    gap: 10px;
}

/* GRID */
.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

/* CARD */
.card-container {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 66vw;
    /* padding: 2rem 1rem;
    margin: 0 auto; */
    border: 8px;
}
.card-container:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}


/* IMAGE */
.card-image-container {
    height: 250px;
    width: 350px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: transform 0.4s ease; */
}
.card-container:hover .card-image {
    transform: scale(1.1);
}

/* CONTENT */
.card-title-container {
    padding: 1rem;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}
.card-container:hover .card-title {
    color: #2563eb; /* blue */
}

.card-desc {
    font-size: 0.9rem;
    color: #555;
}

/* FOOTER */
.card-footer-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-info-container {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.card-tag-container span {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* .card-tag-container span {
    transition: background-color 0.3s ease, color 0.3s ease;
} */

/* .card-tag-container span:hover {
    background-color: #2563eb;
    color: white;
} */

/* AUTHOR NAME HOVER */
.author_name {
    transition: color 0.3s ease;
    cursor: pointer;
}

/* .author_name:hover {
    color: #1d4ed8;
} */
