@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,454&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
body{
    background-color: white;
    height: 100vh;
    text-align: center;
    padding: 0.1rem;
}
.header{
    border: 1px solid black;
}
.header_content{
    max-width: 1280px;
    margin: 0 auto ;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(13, 13, 14);
    text-decoration: none;
   gap: 0.25rem;
}
.logo_icon{
    height: 5.87rem;
    width: 1.938rem;
}
.logo-text{
 font-size: 2rem;
}
.nav{
    display: none;
    gap:  1.5rem;

}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.15s;
}
.nav-link:hover{
    color: rgb(48, 51, 224);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: rgb(91, 91, 205);
    color: white;
    transform: all 0.15s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:768px)
{
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
display: none;
border: none;
border-radius: 0.375rem;
/* transform: all 0.1s; */
background-color: white;
font-size: 1rem;
font-weight: 600;
padding: 0.5rem 1.1rem ;
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;}
}
.menu-icon{
    height: 1rem;
    width: 1rem;
}
