* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    background: #111;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
}

.hero span {
    color: yellow;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    padding: 30px;
    background: #eee;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    background: #ddd;
}

/* Contact */
input,
textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #2575fc;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #6a11cb;
}