*{
    margin: 0;
    padding: 0;
   font-family: 'poppins',sans-serif;
   box-sizing: border-box;
}
body{
    background-color: #019f55;
    
}
.container{
    margin: 12%;
    width: 90%;
    padding: 80px;
   
    max-width: 1000px;
    background-color: #15b269;
    height: 738px;
    display: flexbox;
    flex-direction: column;
    
}
.container h1{
    font-weight: 500;
    font-size: 45px;
    color: #92f4c3;
}

.container h1 span{
    color: #53e6a9;
    border-bottom: 4px solid #53e6a9;
    padding-bottom:7px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    
}
.container button img{
    width:28px;
    margin-right: 10px;
}

.container button{
    border:0 ;
    padding: 0;
    background-color: #1cd67f;
    color: lightgreen;
    font-size: 22px;
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16px 26px;
    border-radius: 5px;
    cursor: pointer;

}